*{
	font-family: Arial, sans-serif;
	background: #06101F;
}

section{
	margin-bottom: 200px;
}

body{
	margin: 100px;
}

.main{
	display: flex;
	justify-content: space-between;
	margin: 200px;
}

.greeting{
	width: 500px;
	margin-top: 50px;
}

.greeting h1{
	font-size: 48px;
	color: white;
}

.greeting h3{
	color: grey;
	max-width: 750px;
}

.greeting button, .feedback button {
    display: inline-flex;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    margin-right: 10px;
    opacity: 0.75;
}

.greeting button:hover, .feedback button:hover {
	opacity: 1;
}

.learn-more{
	background: darkblue;
}

.early-access{
	background: red;
}

.greeting img{
	height: 600px;
	width: 300px;
}

.features h1{
	color: white;
	font-size: 48px;
	margin-bottom: 50px;
}

table{
	width: 100%;
}

th{
	text-align: left;
	margin-bottom: 50px;
}

th h4{
	font-size: 24px;
	color: white;
}

th p{
	color: grey;
}

.discover p{
	max-width: 350px;
}

.discover img{
	width: 50px;
	height: 50px;
}

.meet-laurel, .feedback{
	text-align: center;
	color: white;
}


.meet-laurel h1, .feedback h1{
	color: white;
	font-size: 48px;
}

.meet-laurel h3{
	color: grey;
}

.input{
	font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 20px;
    padding: 13px 16px;
    height: 24px;
    box-shadow: none;    
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #273C5A;
    border-radius: 2px;
    color: #7487A3;
    width: 250px;
    margin-right: 15px;
}